
<select (change)="onSelectCategory($event.target.value)">
  <option> -- Choose your category -- </option>
  <option *ngFor="let categorie of categories" [value]="categorie">
    {{ categorie }}
  </option>
</select>


<table>
  <tr>
    <th>Value</th>
    <th>Count</th>
    <th>Average age</th>
  </tr>
  <tr *ngFor="let data of tableData">
    <td> <p> {{data.value}} </p> </td>
    <td> <p> {{data.count}} </p> </td>
    <td> <p> {{data.averageAge}} </p> </td>
  </tr>
</table>

<p> Non Displayed Values: {{nonDisplayedValues}}</p>
<p> Non Displayed Lines: {{nonDisplayedLines}}</p>
